@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-style: bold;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    /* display: grid;
    height: 100vh;
    place-items: center; */
}
.App{
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

input::file-selector-button {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgb(241, 137, 182) 0%, rgb(125, 177, 237) 100%);
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: black;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}

button {
  margin-left: 5px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgb(241, 137, 182) 0%, rgb(125, 177, 237) 100%);
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: black;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}

* {
  box-sizing: border-box;
}
table {
  margin: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #0d0707;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
  background: #EDE574;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}